<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 1</title>
    <style media="screen">

      .border{
        border:5px solid;
        padding:20px;
      }
    </style>
  </head>
  <body>

    <div class="border">

        <div class="border">
          <div class="border">
            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">
                                  <div class="border">
                                    <div class="border">
                                      <div class="border">
                                        <div class="border">
                                          <div class="border">
                                            <div class="border">
                                              The economic implications of web publishing are obvious by now, as is the speed with which the transfer and exchange of ideas is happening. Over the past few years, this tendency has increased with blogging. Even such established media outlets as The New York Times are requiring their reporters to blog constantly during the day; the paper that arrives on your doorstep each morning is hopelessly out of date; it's truly yesterday's news.
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


        <div class="border">

            <div class="border">
              <div class="border">
                <div class="border">
                  <div class="border">
                    <div class="border">
                      <div class="border">
                        <div class="border">
                          <div class="border">
                            <div class="border">
                              <div class="border">
                                <div class="border">
                                  <div class="border">
                                    <div class="border">
                                      <div class="border">
                                        <div class="border">
                                          <div class="border">
                                            <div class="border">
                                              <div class="border">
                                                <div class="border">
                                                  The economic implications of web publishing are obvious by now, as is the speed with which the transfer and exchange of ideas is happening. Over the past few years, this tendency has increased with blogging. Even such established media outlets as The New York Times are requiring their reporters to blog constantly during the day; the paper that arrives on your doorstep each morning is hopelessly out of date; it's truly yesterday's news.
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </body>
</html>
