.content{
  font-family: arial;
  width:500px;
  margin-left: 400px;
  font-size: 12px;
}
.title{
  font-family: arial;
  text-align: center;
}
.blueheader{
  color: blue;
  font-size: 40px;
}

.redheader{
  color: red;
  font-size: 12px;
}
.redheader.hide{
  display: none;
}

.number{
  border:1px solid red;
  color: red;
  padding: 2px;
}
.number:hover{
  background-color: red;
  color: #fff;
}
.footnote{
  position:fixed;
  bottom: 18px;
  left: 18px;
font-family: arial;
display: none;
}
.footnote.showme{
  display: block;
}
